
body {
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Slab', serif;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
}

.Header {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    justify-content: center;
    padding: 20px;
}

.Post {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 1000px;

    h1, h2 {
        margin: 10px 0;
    }

}